# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.*.local
.env.local

# Bun build directory
build/*
!build/.gitkeep

# Jest coverage directory
reports/*
!reports/.gitkeep

# Proto build directory
src/proto/*
!src/proto/.gitkeep

.yarn-error.log
