# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.*.local
.env.local

# Package dist directory
dist/*
!dist/.gitkeep

# Jest coverage directory
reports/*
!reports/.gitkeep
